<h1>Lag Aggregate</h1>

Aggregate fact table in interval slices against a base table that defines keys and temporal cutoff dates

In [ ]:
# install pyrasgo
!pip install pyrasgo --upgrade

In [11]:
# basic setup
# use your rasgo API key to connect
import pyrasgo
api_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyMzIiLCJpZCI6MjMyLCJvcmdJZCI6bnVsbCwidXNlcm5hbWUiOiJtaXJvQHVudGl0bGVkLXJlc2VhcmNoLmNvbSIsImV4cCI6NTM4NTkyNjI2NTV9.Fo1CgctXnWbfxrjb-xq-m-NQBVDO1YDbYkDlpQiXjCM"
rasgo = pyrasgo.connect(api_key)

# transform constants
TRANSFORM_NAME="lag_aggregate"
TRANSFORM_TYPE="table"
TRANSFORM_YAML_PATH="/workspaces/RasgoUDTs/table_transforms/lag_aggregate/lag_aggregate.yaml"

# have to add this due to import errors - utils should be maybe part of package ?
import sys
sys.path.insert(0,"/workspaces/RasgoUDTs")
sys.path.insert(0,"/workspaces/RasgoUDTs/python")
print(sys.path)

['/workspaces/RasgoUDTs/python', '/workspaces/RasgoUDTs', '/workspaces/RasgoUDTs/python', '/workspaces/RasgoUDTs', '/workspaces/RasgoUDTs/table_transforms/lag_aggregate', '/usr/local/lib/python37.zip', '/usr/local/lib/python3.7', '/usr/local/lib/python3.7/lib-dynload', '', '/home/vscode/.local/lib/python3.7/site-packages', '/usr/local/lib/python3.7/site-packages', '/home/vscode/.local/lib/python3.7/site-packages/IPython/extensions', '/home/vscode/.ipython']

## Calculate lagging sales features for given customer base

- Replicating directive work with transforms
- Test transform experience
- Understand transform authoring concepts and experience

Data:

**Base dataset**:
All customers with every date of purchase from 2013-01-01 to 2013-12-31

**Lag aggregates**:
Sum of sales from Internet Sales for various intervals prior to every purchase date

In [ ]:
# Get all available transforms
# Best place to see more info is https://docs.rasgoml.com/rasgo-docs/pyrasgo/user-defined-transforms-udts
transforms = rasgo.get.transforms()
for t in transforms:
    args = []
    for a in t.arguments:
        args.append(a['name'])
    print(t.id, t.name, '({})'.format(', '.join(args)))

In [ ]:
# create transform
from python.utils import parse_transform_args_from_yaml, get_transform_source_code, _read_yaml

# ===== Notes & Feedback =====
# Had to rip this out of the utils to execute
# Whats the expectation regarding how end user will be able to iterate on transform implementation ?
# Not the best experience, writing jinja without IDE help/context is pretty hard
# Whats the transform lifecycle from user's perspective
# Deleted and recreated transform probably 50 times to get it right
# Utils should probably be integrated into pyrasgo proper
# Adding a pyrasgo function to be able to create and recreate a single transform might help
# Helper function so I can just do transform = ..., transform.publish(status='draft',overwrite=true) or something ?
# Transform status: draft, published or .. to help with lifecycle ?? 

source_code = get_transform_source_code(TRANSFORM_TYPE,TRANSFORM_NAME)
transform_yml = _read_yaml(TRANSFORM_YAML_PATH)
transform_args = parse_transform_args_from_yaml(transform_yml)
print(f"Source code length: {len(source_code)}")

transform = rasgo.create.transform(
                    name=TRANSFORM_NAME,
                    type=TRANSFORM_TYPE,
                    source_code=source_code,
                    arguments=transform_args
                )
print(transform.id)

In [ ]:
# delete transform
transform.id
rasgo.delete.transform(transform.id)

In [ ]:
# get rasgo data sources to operate on
sales = rasgo.get.data_source(id=2637)
customers = rasgo.get.data_source(id=2616)
dates = rasgo.get.data_source(id=2617)

In [ ]:
# preview raw data
rasgo.read.source_data(dates.id, limit=100).head()

### Create an base dataset (observation) - Customers with purchase dates

In [13]:
# aggregate with the help of a date dimension

# ===== Notes & Feedback =====
# Join was redeployed and modified in the middle of my run so not sure whats going on in here
# Order of transforms should matter and sql should be composed properly
# This should work but it fails - changing join to be the 1st transform makes it work
# join_table - lets be consistent and align naming convention - are these tables, source or datasets ???

sales.transform(
   transform_name='filter',
   filter_statements=['ORDERDATEKEY BETWEEN 20110101 AND 20111231']
).transform(
  transform_name='aggregate',
  group_items=['CUSTOMERKEY', 'ORDERDATEKEY'],
  aggregations={
      'CUSTOMERKEY': ['COUNT']
  }
).transform(
  transform_name='join',
  join_table=dates.id,
  join_type='INNER',
  source_columns=['ORDERDATEKEY'],
  join_columns=['DATEKEY']
).preview()

APIError: Internal API Error when making POST request

Status Code: 400

Internal Error Details: {'message': 'Error parsing template to query string', 'error': 'not enough values to unpack (expected 3, got 1)'}

In [21]:
# aggregate sales to get every customer and purchase date

# ===== Notes & Feedback =====
# Avoiding join
# Cant to group by without agg value aka simple distinct/group by
# Count distinct not possible with current aggregate transform
# Want to be able to control column outputs and aliases, this will be madness after 3rd transform

base = sales.transform(
   transform_name='filter',
   #filter_statements=['ORDERDATEKEY BETWEEN 20130101 AND 20131231']
   filter_statements=['CUSTOMERKEY = 11003']
).transform(
  transform_name='aggregate',
  group_items=['CUSTOMERKEY', 'ORDERDATE'],
  aggregations= {
      'CUSTOMERKEY': ['COUNT']
  }
)
# .transform(
#   transform_name='join',
#   join_table_id=date_dim.id,
#   join_type='INNER',
#   source_columns=['ORDERDATEKEY'],
#   joined_colums=['DATEKEY']
# ).

base.preview()

   CUSTOMERKEY  ORDERDATE  CUSTOMERKEY_COUNT
0        11003 2010-12-29                  1
1        11003 2013-01-05                  4
2        11003 2013-05-10                  4

In [19]:
# get count of base dataset for verification

# ===== Notes & Feedback =====
# Should be able to geta count of base dataset
# If additional transform is executed - its added to the transform chain - changing the base
# This behavior is confusing - My base assignment was explicit, I did not ask to reassign the variable - just to calculate total count
# thats how it works on source , if its a transform chain it works differently 
# Dont want to reason about - Am I doing transform on source or a dataset it should be fluid - everything is a dataset and b
#
# 1. source.transform - nothing happens to source - new chain is created, no assignment needed
# 2. t1=source.transform - explicit assignment
# 3. t1.transform - why should this change t1 ? (it should create a chain like when stat is a source)
# 4. t2=t1.transform - this should create and assign new chain to t2
# 5. t2.transform - again - should this change t2 or create a new chain

base.transform(
    transform_name='aggregate',
    group_items=[1],
    aggregations={
        'CUSTOMERKEY': ['COUNT']
    }).preview()

# my base has changed

   1  CUSTOMERKEY_COUNT
0  1                  3

In [20]:
# base preview
base.preview()

   1  CUSTOMERKEY_COUNT
0  1                  3

In [24]:
# publish the new data set back to Rasgo

# ===== Notes & Feedback =====
# must register a new source in order to be able to anchor my base dataset and start new transform chain
# this should be async or promise based or something, wait is > 15s for 2K rows
# because of direct db object naming - if someone puts an unsupported character in the name this will break
# if I made a mistake I would like an overwrite capability so I dont have to delete and keep track of ids
# once ids are lost how can I pull source by name ?
# friendly name should be for users and UI not creating db objects
# table_name - again confusing naming convention, why should the user be concern about the table name here ? Should be working with an abstraction layer 
# how is rasgo going to handle naming conflicts ?

# delete base source
# rasgo.delete.data_source(base_source.id)
# following will fail
# base_source = base.to_source(new_table_name='customer_sales.._lag_aggregate_base')

base_source = base.to_source(new_table_name='customer_sales_lag_aggregate_base')
print(base_source.id)

2876

In [ ]:
# one time I could not read back source ? cant replicate - was no error just empty dataset
base_source.id
rasgo.read.source_data(base_source.id, limit=10)

In [23]:
# delete base_source on accidental error

# ===== Notes & Feedback =====
# dont like that I have to keep ids on memory when iterating
# the sdk should operate with user defined names or identifiers not internals

rasgo.delete.data_source('2784')

'DataSource 2784 successfully deleted'

In [ ]:
# get count of base dataset after registering as source

# ===== Notes & Feedback =====
# fails cause there is no group by
# repeated runs add CTEs
# with group_items=[1] works because of the rendered sql syntax "SELECT 1, {AGGS} FROM {RELATION} GROUP BY 1"
# had to add suffix to sources to distinguish

base_source.transform(
  transform_name='aggregate',
  group_items=[1],
  aggregations={
      'CUSTOMERKEY': ['COUNT']
  }
).preview()

In [25]:
# add lags for forecast model

# ===== Notes & Feedback =====
# orientation of base vs fact
# can I assign output of transform to dataframe without registering source
# how can i preview the entire dataset ?
# doing simple count is tedious- requires additional steps


sales_lag_aggs = sales.transform(
      transform_name='lag_aggregate',
      base_source_id=base_source.id,
      source_temporal_column='ORDERDATE',
      base_temporal_column='ORDERDATE',
      source_join_columns=['CUSTOMERKEY'],
      base_join_columns=['CUSTOMERKEY'],
      aggregations={
          'SALESAMOUNT': ['SUM', 'AVG']
      },
      lag_period_type='DAY',
      lag_interval_list=[30,60,90,180,360,720]
    )
sales_lag_aggs.preview_sql()

#
#sales_lag_aggs.preview(1000)

"SELECT\n        fct.CUSTOMERKEY,fct.ORDERDATE,\n                SUM(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '30 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_SUM_30,\n                AVG(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '30 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_AVG_30,\n                SUM(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '60 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_SUM_60,\n                AVG(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '60 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_AVG_60,\n                SUM(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '90 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_SUM_90,\n                AVG(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '90 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_AVG_90,\n                SUM(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '180 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_SUM_180,\n                AVG(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '180 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_AVG_180,\n                SUM(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '360 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_SUM_360,\n                AVG(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '360 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_AVG_360,\n                SUM(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '720 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_SUM_720,\n                AVG(\n                    CASE\n                        WHEN \n                            fct.ORDERDATE >= (base.ORDERDATE - INTERVAL '720 DAY')\n                            AND fct.ORDERDATE < base.ORDERDATE\n                        THEN SALESAMOUNT \n                    END) as SALESAMOUNT_AVG_720\nFROM ADVENTUREWORKS.PUBLIC.FACTINTERNETSALES fct\nJOIN RASGO.PUBLIC.CUSTOMER_SALES_LAG_AGGREGATE_BASE base\n    ON fct.CUSTOMERKEY = base.CUSTOMERKEY-- for some strange reason you must leave a blank line here otherwise sql gets squished when rendered\n\nGROUP BY\nfct.ORDERDATE,\n    fct.CUSTOMERKEY"

In [26]:
sales_lag_aggs.preview()

,CUSTOMERKEY,ORDERDATE,SALESAMOUNT_SUM_30,SALESAMOUNT_AVG_30,SALESAMOUNT_SUM_60,SALESAMOUNT_AVG_60,SALESAMOUNT_SUM_90,SALESAMOUNT_AVG_90,SALESAMOUNT_SUM_180,SALESAMOUNT_AVG_180,SALESAMOUNT_SUM_360,SALESAMOUNT_AVG_360,SALESAMOUNT_SUM_720,SALESAMOUNT_AVG_720
0,11003,2010-12-29,None,None,None,None,None,None,None,None,None,None,None,None
1,11003,2013-01-05,None,None,None,None,None,None,2318.9600,579.7400000000,2318.9600,579.7400000000,2318.9600,579.7400000000
2,11003,2013-05-10,None,None,None,None,None,None,None,None,None,None,None,None

In [ ]:
# publish

sales_lag_aggs_source = sales_lag_aggs.to_source(new_table_name='customer_sales_lag_aggregate_final')
print(sales_lag_aggs_source.id)

sales_lag_aggs_data = rasgo.read.source_data(sales_lag_aggs_source.id)

In [ ]:
# dump to csv
sales_lag_aggs.preview(0).to_csv("sales_lag_aggs.csv")
#sales_lag_aggs_data.to_csv("sales_lag_aggs_data.csv")

## Cleanup

In [ ]:
# cleanup of all objects
if 'base_source' in locals():
    rasgo.delete.data_source(base_source.id)
if 'sales_lag_aggs_source' in locals():
    rasgo.delete.data_source(sales_lag_aggs_source.id)
# if 'transform' in locals():
#     rasgo.delete.transform(transform.id)

## Feedback summary

**Authoring**

**Usability**
- need many transforms to do simple things (select, aggregate, alias with join)
- working with ids is painful
  - keeping track if ids (runtime kernel reset or due error can lead to id loss and no easy way to go back or cleanup)
  - talking to objects by ids is not ideal
  - would prefer managing objects using their user assigned friendly names
- like the fluid api idea of .transform but mutation behavior is confusing
  - 2 different behaviour models
    - running any .transform essentially mutates the underlying dataset (adds an operation to existing chain)
    - unless its a source where it does not (of course)
    - want explicit control when to assign transform chain to another dataset
    - doing simple count is tedious and results in mutating the existing dataset
  - behaviour is not following pandas : df.add(1) does not mutate existing df
- not able to control output alias
  - select * can not be the default
  - conflicts unaviodable, especially due to stacked CTEs (ambiguous columns not allowed as CTE output)


**Authoring Tranforms**
  - Authors are not well supported through the transform authoring procerss
    - should there be a transform lifecycle ?
      - draft mode while I work out the kinks ?
    - want to create or update(overwrite) a single transform at a time
      - expect better support from SDK and more seamless experience
  - jinja template writing is painful even for a seasoned sql engineer (limited mix of python fns, interpolation, commas on the end etc )
    - would welcome some additional functions that are callable inside jinja to do typical repeat stuff
      - document available modules and functions inside jinja context
      - add additional helper modules/functions to ease some of the dev pain
        - generate list of columns or expression with alias pairs with commas etc.
      - current looping technique works buts its error prone and not easy to follow
  - found myself many times going to the sql editor to lookup something to plug into a transform - that cant be
    - need more core sdk support while authoring
    - getting dataset meta and types in various forms
  - transform arguments universe
    - what are my possible argument types ?
    - what are the sepcial functions some types offer(column, source etc)
    - should have a good base to choose from with spe
  - whats the access control model for transform authoring use ?

**Other**
- dont love the transform organization - row / column / table
  - it will be overloaded soon with many many transforms in a group
  - min_max_scaler, moving_avg - while they create new columns their operation is very different from a+b as c
  - would prefer a more domain specific naming or two way organization
  - by domain and by return type (scalar, dataset)
- naming convention
 - is it table, source, dataframe or dataset
 - follow through in argument naming
   - source publishing "new_table_name" is a great example
   - user should not be naming tables - revealing internals again
- sequentail ids are reveal internal implementation details