<h1>Lag Aggregate</h1>

Aggregate fact table in interval slices against a base table that defines keys and temporal cutoff dates

In [ ]:
# install pyrasgo
!pip install pyrasgo --upgrade

In [1]:
# basic setup
# use your rasgo API key to connect
import pyrasgo
api_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIyMzIiLCJpZCI6MjMyLCJvcmdJZCI6bnVsbCwidXNlcm5hbWUiOiJtaXJvQHVudGl0bGVkLXJlc2VhcmNoLmNvbSIsImV4cCI6NTM4NTkyNjI2NTV9.Fo1CgctXnWbfxrjb-xq-m-NQBVDO1YDbYkDlpQiXjCM"
rasgo = pyrasgo.connect(api_key)

# transform constants
TRANSFORM_NAME="lag_aggregate"
TRANSFORM_TYPE="table"
TRANSFORM_YAML_PATH="/workspaces/RasgoUDTs/table_transforms/lag_aggregate/lag_aggregate.yaml"

# have to add this due to import errors - utils should be maybe part of package ?
import sys
sys.path.append("/workspaces/RasgoUDTs/python")
print(sys.path)

['/workspaces/RasgoUDTs/table_transforms/lag_aggregate', '/usr/local/lib/python37.zip', '/usr/local/lib/python3.7', '/usr/local/lib/python3.7/lib-dynload', '', '/home/vscode/.local/lib/python3.7/site-packages', '/usr/local/lib/python3.7/site-packages', '/home/vscode/.local/lib/python3.7/site-packages/IPython/extensions', '/home/vscode/.ipython', '/workspaces/RasgoUDTs/python']

In [5]:
# Get all available transforms
# Best place to see more info is https://docs.rasgoml.com/rasgo-docs/pyrasgo/user-defined-transforms-udts
transforms = rasgo.get.transforms()
for t in transforms:
    args = []
    for a in t.arguments:
        args.append(a['name'])
    print(t.id, t.name, '({})'.format(', '.join(args)))

158 concat (concat_list)
164 impute (imputations, flag_missing_vals)
156 datetrunc (date_columns, date_part)
168 levenshtein (columns1, column2)
177 aggregate (group_items, aggregations)
166 substring (target_col, start_pos, end_pos)
159 find_and_replace (replace_dict)
188 datediff (date_part, date_val_1, date_val_2)
189 if_then (conditions, default, alias)
157 datepart (date_columns, date_part)
170 rename (col_list, new_names)
183 order (col_list, order_method)
171 lag (columns, amounts, partition, order_by)
186 simple_join (join_table, join_type, join_columns)
155 one_hot_encode (column)
162 binning (binning_type, bucket_count, col_to_bucket)
182 rasgo_train_test_split (order_by, train_percent)
165 math (math_ops)
173 filter (filter_statements)
184 standard_scaler (columns_to_scale, averages, standarddevs)
175 pivot (dimensions, pivot_column, value_column, agg_method, list_of_vals)
174 unpivot (value_column, name_column, column_list_vals)
185 min_max_scaler (columns_to_scale, minimums, maximums)
163 cast (col_list, type_list)
178 dedupe (natural_key, order_method, order_col)
190 union (source_id, union_all)
187 new_rename (renames)
180 datespine (date_col, start_timestamp, end_timestamp, interval_type)
172 drop_columns (include_cols, exclude_cols)
160 train_test_split (order_by, train_percent)
207 join (join_table, join_type, join_columns)
169 moving_avg (input_columns, window_sizes, order_by, partition)
161 to_date (date_columns, format_expression)
206 lag_aggregate (base_source_id, source_join_columns, lag_period_type, source_temporal_column, base_join_columns, lag_interval_list, base_temporal_column, aggregations)

In [ ]:
# create transform
from python.utils import parse_transform_args_from_yaml, get_transform_source_code, _read_yaml

# ===== Notes & Feedback =====
# Had to rip this out of the utils to execute
# Whats the expectation regarding how end user will be able to iterate on transform implementation ?
# Not the best experience, writing jinja without IDE help/context is pretty hard
# Whats the transform lifecycle from user's perspective
# Deleted and recreated transform probably 50 times to get it right
# Utils hould probably be integrated into pyrasgo proper
# Adding a pyrasgo function to be able to create and recreate a single transform might help
# Helper function so I can just do transform = ..., transform.publish(status='draft',overwrite=true) or something ?
# Transform status: draft, published or .. to help with lifecycle ?? 

source_code = get_transform_source_code(TRANSFORM_TYPE,TRANSFORM_NAME)
transform_yml = _read_yaml(TRANSFORM_YAML_PATH)
transform_args = parse_transform_args_from_yaml(transform_yml)
print(f"Source code length: {len(source_code)}")

transform = rasgo.create.transform(
                    name=TRANSFORM_NAME,
                    type=TRANSFORM_TYPE,
                    source_code=source_code,
                    arguments=transform_args
                )
print(transform.id)

In [ ]:
# delete transform
transform.id
rasgo.delete.transform(transform.id)

## Calculate lagging sales features for given customer base

**Base dataset**:
All customers with every date of purchase from

**Lag aggregates**:
Sum of sales, count of products from Internet Sales forvarious intervals prior to every purchase date

In [2]:
# get some rasgo data sources to operate on
sales = rasgo.get.data_source(id=2637)
customers = rasgo.get.data_source(id=2616)
dates = rasgo.get.data_source(id=2617)

In [3]:
# preview raw data
rasgo.read.source_data(sales.id, limit=100).head()

,PRODUCTKEY,ORDERDATEKEY,DUEDATEKEY,SHIPDATEKEY,CUSTOMERKEY,PROMOTIONKEY,CURRENCYKEY,SALESTERRITORYKEY,SALESORDERNUMBER,SALESORDERLINENUMBER,...,PRODUCTSTANDARDCOST,TOTALPRODUCTCOST,SALESAMOUNT,TAXAMT,FREIGHT,CARRIERTRACKINGNUMBER,CUSTOMERPONUMBER,ORDERDATE,DUEDATE,SHIPDATE
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,None,None,2010-12-29,2011-01-10,2011-01-05
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05
3,336,20101229,20110110,20110105,14501,1,100,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,None,None,2010-12-29,2011-01-10,2011-01-05
4,346,20101229,20110110,20110105,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05

### Create an base dataset (observation) - Customers with purchase dates

In [ ]:
# aggregate with the help of a date dimension

# ===== Notes & Feedback =====
# Join was redeployed and modified in the middle of my run so not sure whats going on in here
# Order of transforms should matter and sql should be composed properly
# This should work but it fails - changing join to be the 1st transform makes it work
# join_table - lets be consistent and align naming convention - are these tables, source or datasets ???

sales.transform(
  transform_name='join',
  join_table=dates.id,
  join_type='INNER',
  source_columns=['ORDERDATEKEY'],
  join_columns=['DATEKEY']
).preview()
# .transform(
#    transform_name='filter',
#    filter_statements=['ORDERDATEKEY BETWEEN 20110101 AND 20111231']
# )
#.transform(
#   transform_name='aggregate',
#   group_items=['CUSTOMERKEY', 'FULLDATEALTERNATEKEY'],
#   aggregations={
#       'CUSTOMERKEY': ['COUNT']
#   }
# ).preview()

In [36]:
# aggregate sales to get every customer and purchase date

# ===== Notes & Feedback =====
# Avoiding join
# Cant to group by without agg value aka simple distinct/group by
# Count distinct not possible with current aggregate transform

# Want to be able to control column outputs and aliases, this will be madness after 3rd transform

base = sales.transform(
   transform_name='filter',
   filter_statements=['ORDERDATEKEY BETWEEN 20130101 AND 20131231']
).transform(
  transform_name='aggregate',
  group_items=['CUSTOMERKEY', 'ORDERDATE'],
  aggregations={
      'CUSTOMERKEY': ['COUNT']
  }
)
# .transform(
#   transform_name='join',
#   join_table_id=date_dim.id,
#   join_type='INNER',
#   source_columns=['ORDERDATEKEY'],
#   joined_colums=['DATEKEY']
# ).

base.preview()

   CUSTOMERKEY  ORDERDATE  CUSTOMERKEY_COUNT
0        11249 2013-01-01                  3
1        12307 2013-01-01                  1
2        11334 2013-01-01                  3
3        19360 2013-01-01                  4
4        15551 2013-01-01                  3
5        20180 2013-01-01                  4
6        23105 2013-01-01                  3
7        11017 2013-01-01                  2
8        19167 2013-01-01                  1
9        18544 2013-01-01                  2

In [33]:
# get count of base dataset for verification

# ===== Notes & Feedback =====
# Should be able to geta count of base dataset
# If additional transform is executed - its added to the transform chain - changing the base
# This behavior is confusing - My base assignment was explicit, I did not ask to reassign the variable - just to calculate total count
# thats how it works on source , if its a transform chain it works differently 
# Dont want to reason about - Am I doing transform on source or a dataset it should be fluid - everything is a dataset and b
#
# 1. source.transform - nothing happens to source - new chain is created, no assignment needed
# 2. t1=source.transform - explicit assignment
# 3. t1.transform - why should this change t1 ? (it should create a chain like when stat is a source)
# 4. t2=t1.transform - this should create and assign new chain to t2
# 5. t2.transform - again - should this change t2 or create a new chain

base.transform(
    transform_name='aggregate',
    group_items=[1],
    aggregations={
        'CUSTOMERKEY': ['COUNT']
    }
).preview()

# my base has changed

   1  CUSTOMERKEY_COUNT
0  1              21248

In [39]:
# base preview
base.preview()

   CUSTOMERKEY  ORDERDATE  CUSTOMERKEY_COUNT
0        11249 2013-01-01                  3
1        12307 2013-01-01                  1
2        11334 2013-01-01                  3
3        19360 2013-01-01                  4
4        15551 2013-01-01                  3
5        20180 2013-01-01                  4
6        23105 2013-01-01                  3
7        11017 2013-01-01                  2
8        19167 2013-01-01                  1
9        18544 2013-01-01                  2

In [40]:
# publish the new data set back to Rasgo

# ===== Notes & Feedback =====
# must register a new source in order to be able to anchor my base dataset and start new transform chain
# this should be async or promise based or something, wait is > 15s for 2K rows
# because of direct db object naming - if someone puts an unsupported character in the name this will break
# if I made a mistake I would like an overwrite capability so I dont have to delete and keep track of ids
# once ids are lost how can I pull source by name ?
# friendly name should be for users and UI not creating db objects
# table_name - again confusing naming convention, why should the user be concern about the table name here ? Should be working with an abstraction layer 
# how is rasgo going to handle naming conflicts ?

# delete base source
# rasgo.delete.data_source(base_source.id)
# following will fail
# base_source = base.to_source(new_table_name='customer_sales.._lag_aggregate_base')

base_source = base.to_source(new_table_name='customer_sales_lag_aggregate_base')
print(base_source.id)

2780

In [41]:
# one time I could not read back source ? cant replicate - was no error just empty dataset
base_source.id
rasgo.read.source_data(base_source.id, limit=10)

   CUSTOMERKEY  ORDERDATE  CUSTOMERKEY_COUNT
0        11249 2013-01-01                  3
1        12307 2013-01-01                  1
2        11334 2013-01-01                  3
3        19360 2013-01-01                  4
4        15551 2013-01-01                  3
5        20180 2013-01-01                  4
6        23105 2013-01-01                  3
7        11017 2013-01-01                  2
8        19167 2013-01-01                  1
9        18544 2013-01-01                  2

In [38]:
# delete base_source on accidental error

# ===== Notes & Feedback =====
# dont like that I have to keep ids on memory when iterating
# the sdk should operate with user defined names or identifiers not internals

rasgo.delete.data_source(2779)

'DataSource 2779 successfully deleted'

In [42]:
# get count of base dataset after registering as source

# ===== Notes & Feedback =====
# fails cause there is no group by
# repeated runs add CTEs
# with group_items=[1] works because of the rendered sql syntax "SELECT 1, {AGGS} FROM {RELATION} GROUP BY 1"
# had to add suffix to sources to distinguish

base_source.transform(
  transform_name='aggregate',
  group_items=[1],
  aggregations={
      'CUSTOMERKEY': ['COUNT']
  }
).preview()

   1  CUSTOMERKEY_COUNT
0  1              21248

In [43]:
# add lags for forecast model

# ===== Notes & Feedback =====
# can I assign output of transform to dataframe without registering source
# how can i preview the entire dataset ?
# doing simple count is tedious- requires additional steps

sales_lag_aggs = sales.transform(
      transform_name="lag_aggregate",
      base_source_id=base_source.id,
      source_temporal_column='ORDERDATE',
      base_temporal_column='ORDERDATE',
      source_join_columns=['CUSTOMERKEY'],
      base_join_columns=['CUSTOMERKEY'],
      aggregations={
          'SALESAMOUNT': ['SUM', 'AVG']
      },
      lag_period_type= 'DAY',
      lag_interval_list=[30,60,90,180,360,720]
    )
sales_lag_aggs.preview_sql()

#
sales_lag_aggs.preview(1000)

,CUSTOMERKEY,SALESAMOUNT_SUM_30,SALESAMOUNT_AVG_30,SALESAMOUNT_SUM_60,SALESAMOUNT_AVG_60,SALESAMOUNT_SUM_90,SALESAMOUNT_AVG_90,SALESAMOUNT_SUM_180,SALESAMOUNT_AVG_180,SALESAMOUNT_SUM_360,SALESAMOUNT_AVG_360,SALESAMOUNT_SUM_720,SALESAMOUNT_AVG_720
0,21768,None,None,None,None,None,None,None,None,None,None,None,None
1,25863,None,None,None,None,None,None,None,None,None,None,None,None
2,14501,None,None,None,None,None,None,None,None,None,None,None,None
3,11003,None,None,None,None,None,None,2318.9600,579.7400000000,2318.9600,579.7400000000,2318.9600,579.7400000000
4,27645,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,14171,None,None,None,None,None,None,None,None,2398.4800,599.6200000000,5976.7500,1195.3500000000
996,11468,None,None,None,None,None,None,None,None,2319.9900,2319.9900000000,5694.9800,2847.4900000000
997,19594,None,None,None,None,None,None,None,None,None,None,3578.2700,3578.2700000000
998,15051,None,None,None,None,None,None,777.3400,388.6700000000,777.3400,388.6700000000,777.3400,388.6700000000
999,15059,None,None,None,None,None,None,841.3100,168.2620000000,841.3100,168.2620000000,841.3100,168.2620000000

In [21]:
# publish


# dele
sales_lag_aggs_source = sales_lag_aggs.to_source(new_table_name='customer_sales_lag_aggregate_final')
print(sales_lag_aggs_source.id)

sales_lag_aggs_data = rasgo.read.source_data(sales_lag_aggs_source.id)

2778

In [44]:
# dump to csv
sales_lag_aggs.preview(0).to_csv("sales_lag_aggs.csv")
#sales_lag_aggs_data.to_csv("sales_lag_aggs_data.csv")

## Cleanup

In [30]:
# cleanup of all objects
if 'base_source' in locals():
    rasgo.delete.data_source(base_source.id)
if 'sales_lag_aggs_source' in locals():
    rasgo.delete.data_source(sales_lag_aggs_source.id)
# if 'transform' in locals():
#     rasgo.delete.transform(transform.id)